# Terraform Cloud ----------------------------------------------------------------------------------
terraform {
  backend "remote" {
    hostname = "app.terraform.io"
    organization = "Cisco-SRE"

    workspaces {
      name = "GPO-FSO-LAB-01-IKS"
    }
  }
}
